section{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
}
.item_quote_div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  padding: .5rem;
  width: 15rem;
  height: auto;
  border: 1px solid grey;
  border-radius: .5rem;
}
.item_quote_div p{
  text-align: justify;
}
/* Toggle see more / see less. The button has a different style */
.seemore{
  width: 100%;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}
.seemore button{
  width: 5vw;
  margin: auto;
  background-color: var(--darkblue);
}
.seemore button:hover{
  background-color: var(--lightgrey);
}
.invisible{
  display: none;
}
@media only screen and (max-width : 1740px) {
  .seemore{
    width: 90%;
    margin: auto;
  }
  .seemore button{
    width: 100%;
  }

}
