section{
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
}
.item_quote_div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  padding: .5rem;
  width: 15rem;
  height: auto;
  max-height: 40rem;
  border: 1px solid grey;
  border-radius: .5rem;
}
.item_quote_div p{
  text-align: justify;
}
/* Toggle see more / see less. The button has a different style */
.seemore{
  width: 100%;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}
.seemore button{
  width: 5vw;
  margin: auto;
  background-color: var(--darkblue);
}
.seemore button:hover{
  background-color: var(--lightgrey);
}
.invisible{
  display: none;
}
.audio_parent{
  width: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.audio_container{
  position: relative;
  margin: auto;
  width: 50vw;
  top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, .7);
  border-radius: 1rem;
}
.audio_container figure{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width : 900px) {
  .audio_parent div{
    width: 90%;
  }
  .audio_parent h1{
    text-align: center;
  }
  .item_quote_div{
    max-height: 60rem;
  }
}
@media only screen and (max-width : 1740px) {
  .seemore{
    width: 90%;
    margin: auto;
  }
  .seemore button{
    width: 100%;
  }

}
