button{
  width: 40%;
  background-color: var(--lightgrey);
  color: #fff;
  padding: .5rem;
  border: none;
  border-radius: .5rem;
  font-size: 1rem;
}
button:hover{
  background-color: var(--darkblue);
}
.invisible{
  display: none;
}
button a{
  text-decoration: none;
  color: inherit;
}
