.about{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10rem;
  height: 85vh;
}
@media only screen and (max-width : 900px) {
  .about{
    margin-top: 15rem;
  }
}
