.about{
  width: 70%;
  height: 85vh;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  margin-top: 5rem;
}
.about p{
  text-align: justify;
  line-height: 2;
}
.about p a{
  text-decoration: none;
  font-weight: bold;
  color: var(--goldpure);
  background-color: var(--darkgrey);
  padding: .5rem;
  border-radius: .5rem;
}
@media only screen and (max-width : 900px) {
  .about{
    width: 90%;
    margin-top: 10rem;
  }
  .about p{
    font-size: 1rem;
    line-height: 1.7;
  }
  .about p:nth-of-type(3){
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
  .about p:nth-of-type(3) a{
    width: 70%;
    margin: .5rem 0;
  }
}
