.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  background-color: var(--lightbluetransparent);
}
.navbar h1{
  margin-top: .75rem;
  /* padding: 1rem; */
}
i{
  font-size: 2.5rem;
  /* opacity: .4; */
}
.navbar ul{
  display: flex;
  margin: 0;
  padding: 0;
  z-index: 1;
}
.navbar ul li{
  list-style: none;
  margin: .5rem 1rem;
  font-size: 1.3rem;
}
.navbar ul li:hover{
  scale: 1.2;
}
.toggle_button{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  cursor: pointer;
}
@media only screen and (max-width : 649px) {
  .toggle_button{
    display: block;
  }
  .navbar_links{
    display: none;
  }
  .navbar{
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar_links ul{
    flex-direction: column;
    width: 100%;
  }
  .navbar_links.active{
    display: flex;
  }
}
