section{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10rem;
}
.item_quote_div{
  margin: 1rem;
  padding: .5rem;
  width: 15rem;
  height: auto;
  border: 1px solid grey;
  border-radius: .5rem;
}
.item_quote_div p{
  text-align: justify;
}
.item_quote_div button{
  width: 7rem;
  padding: .5rem;
  border: none;
  border-radius: .3rem;
  background-color: #93A9C1;
}
.item_quote_div button a{
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
}
