footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  margin-top: 0;
  background-color: var(--gold);
}
.copyright{
  margin-left: 1rem;
}
.social_media{
  display: flex;
}
.social_media img{
  width: 2.6rem;
}
.social_media i,
.social_media img{
  margin: 0 1rem;
}
.social_media a{
  color: inherit;
}
@media only screen and (max-width : 649px) {
  .social_media i,
  .social_media img{
    font-size: 2rem;
    margin: 0 .5rem;
  }
  .social_media img{
    width: 2rem;
  }
}
