.form{
  width: 30vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center
}
.form label,
.form input{
  margin: 1rem;
}
.input_icon{
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
  /* margin-top: 5rem; */
  padding: .5rem 1rem;
  border: 1px solid var(--lightgrey);
  border-radius: 1rem;
}
.form input{
  width: 100%;
  margin: auto;
  padding: .5rem;
  border: none;
  font-size: 1rem;
}
.input_icon i{
  font-size: 1.5rem;
  color: var(--darkblue);
}
.input_icon i:hover{
  scale: 1.1;
  color: var(--lightgrey);
}
.form input:focus{
  outline: none;
}
.visually_hidden{
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media only screen and (max-width : 900px) {
  .form,
  .input_icon{
    width: 90%;
  }
  .form{
    margin-top: 3.5rem;
  }
}
@media only screen and (min-width : 901px) and (max-width : 1400px){
  .form,
  .input_icon{
    width: 70%;
  }
  .form i{
    left: 45rem;
    top: 7.5rem;
    font-size: 1.5rem;
  }
}
