@font-face {
  font-family: 'Noto Sans', sans-serif;
  src: local('Noto Sans'), url(./fonts/NotoSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Chivo', sans-serif;
  src: local('Noto Sans'), url(./fonts/Chivo-Regular.ttf) format('truetype');
}
:root{
  --darkblue:  #41496b;
  --lightgrey: #a0b5ca;
  --darkgrey: rgba(51, 51, 51);
  --gold: rgba(184, 134, 11, .5);
  --goldpure: #b8860b;
  --lightbluetransparent: rgba(167, 174, 202, .9);
  --mainfont: 'Noto Sans', sans-serif;
  --chivofont: 'Chivo', sans-serif;
}
body{
  margin: 0;
  padding: 0;
  font-family: var(--mainfont);
}
.description{
  width: 50%;
  margin: auto;
  text-align: justify;
  font-size: 1.3rem;
}

@media only screen and (max-width : 649px) {
  .description{
    width: 90%;
    font-size: 1rem;
  }
}
