@font-face {
  font-family: 'Noto Sans', sans-serif;
  src: local('Noto Sans'), url(./fonts/NotoSans-Regular.ttf) format('truetype');
}
:root{
  --darkblue:  #41496b;
  --lightgrey: #a0b5ca;
  --gold: rgba(184, 134, 11, .5);
  --lightbluetransparent: rgba(167, 174, 202, .7);
  --mainfont: 'Noto Sans', sans-serif;
}
body{
  margin: 0;
  padding: 0;
  font-family: var(--mainfont);
}
